.projects-list {
  padding: 2.5rem 0;
}

.projects-summary {
  font-size: 1.2rem;
  font-style: italic;
  color: #ad9c7c;
}

.projects-container h1 {
  font-weight: 300;
  font-size: 2rem;
}

.projects-container h1:first-child {
  padding: 0 0 0.5rem 0;
}

.projects-container span {
  color: #ffa800;
}
