.basic-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.basic-button {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: font-style 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
}
.basic-button:hover {
  color: #ffa800;
  transform: skewX(-15deg);
}
.basic-button span {
  color: #ffa800;
}

@media (max-width: 750px) {
  .basic-button-container {
    padding: 0 0 2rem 0;
  }
}
