.projects-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.projects-list li {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}
.projects-list li img {
  display: inline-block;
  border-radius: 8px;
}

.projects-list figcaption {
  font-size: 1.3rem;
  color: #ffa800;
  padding: 0.5rem 0 0 0;
}
.projects-list p {
  padding: 0.5rem 0 0 0;
  text-align: center;
  font-weight: 200;
}

.project-card {
  transition: 0.3s ease;
}

.project-card:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ffa800);
}

@media (max-width: 750px) {
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
