@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: black;
}
footer {
  margin-top: auto;
}

h1 {
  color: #ffffff;
  font-family: inherit;
  font-weight: lighter;
}
h2 {
  color: #ffa800;
  font-weight: 300;
  font-style: italic;
  font-size: 1.3rem;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}
button {
  all: unset;
  color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}
p {
  text-wrap: balance;
  color: #ffffff;
}
input {
  background-color: #ffe7b7;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
label {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffa800;
}
textarea {
  font-family: "Karla", sans-serif;
  background-color: #ffe7b7;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem 0 0 1rem;
}
