.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav div {
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.nav div:hover {
  filter: drop-shadow(0 0 2px #ffa800);
}

.nav h1 {
  font-size: 1rem;
  color: #ffffff;
}
